#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
    display: flex;
    align-items: end;
    gap: 2px;
    background-color: white;
    min-width: 100%;
}

.root {
    display: flex;
    justify-content: space-between;
}

#controlPanel{
    padding: 0 50px 0 0;
}

#controlPanel input {
    margin: 20px;
}